.allScreenings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBar {
    display: flex;
    flex-direction: column;
    justify-content: center; /*horizontal*/
    align-items: center; /*vert*/
    margin-top: 30px;
    padding: 20px 20px;
    background-color: black; /* Dark background for the menu */
    width: 82.5%; /* Full width */
    border-radius: 60px;
    /* box-sizing: border-box;  */
}

.movieInfo {
    width: 100%;
    padding-right: 25px;
}

.filtersTitle {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2rem;
    padding: 2px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 85%;
    margin-bottom: 20px;
}

.dayButton {
    background-color: #666;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 1s, color 1s;
    margin: 0 10px;
}

.dayButton.active{
    background-color: #D22B2B; /* Highlighted color for active or hovered item */
}

.dayButton:hover {
    background-color: #fffff6;
    color: black;
}

.dayOptions .genreOptions .timeOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    gap: 50px;

}

.screeningsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px;
}

.screeningContainer {
    background-color: #fffff6;
    padding: 40px;
    margin: 10px 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    display: flex;
    align-items: center;
}

.screeningContainer .moviePoster {
    flex-shrink: 0; /* Prevent poster from shrinking */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 100px; /* Fixed width for poster */
    height: 150px; /* Fixed height for poster */
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    overflow: hidden;
}

.screeningContainer .moviePoster img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the area, cropping the image if necessary */
}

.screeningContainer h2 {
    color: #D22B2B;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.screeningContainer h3 {
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.screeningContainer p {
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.movieInfoAndButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.buttonGroup {
    display: flex;
    flex-direction: row; /* Stack buttons vertically */
    gap: 80px;
    padding-left: 40px;
}

.screeningButton {
    background-color: #D22B2B; /* Button background color */
    color: white; /* Button text color */
    border: none;
    margin-bottom: 10px; /* Space between buttons */
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    box-sizing: border-box;
    height: 7vh;
    width: 24vh;
    transition: background-color 1.2s;
}

.getTicketsButton {
    background-color: #6ae34e;
    color: black;
    transition: background-color 1.2s;
}

.getTicketsButton:hover {
    background-color: #419a2e;
}

.screeningButton:hover:not(.getTicketsButton) {
    background-color: black; /* Darker color on hover */
}
